---
eleventyExcludeFromCollections: true
title: "'s nobody here"
---
<label style="font-size: 0.7em;" role="presentation">Wrong phone number song by Toby Fox</label><br>
<audio aria-label="Wrong phone number song by Toby Fox" controls loop src="/assets/mus_wrongnumbersong.ogg">Wrong number song from Undertale by Toby Fox here</audio>

<p>There's no page here to be found</p>

<p>If that's a link somewhere on this website, you should probably <a href="/contact">poke me</a></p>

<p>You could go <a id="404link" href="/">back home</a></p>

<script id="randpicker">
  const allpages = [
    {% for page in collections.all %}
    {% if page.url != "/404/" %}
    "{{ page.url }}",
    {% endif %}
    {% endfor %}
  ];
  const randlink = allpages[Math.floor(Math.random() * allpages.length)];
  const link = document.getElementById("404link");
  link.href = randlink;
  link.innerText = "to a random location";
  document.getElementById("randpicker").remove();
</script>
